<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">
    <title>Calculadora</title>
</head>
<body>
    <div class="container">

        <div class="display">
            <input [formControl]="input" id="display" disabled>
        </div>

        <div class="keyboard">
            <div class="row">
              <button id="back" class="number" (click)="back()"><</button>
              <button id="C" class="number" (click)="c()">C</button>
              <button value="/" class="operation" (click)="insert('/')">÷</button>
            </div>

            <div class="row">
              <button value="7" class="number" (click)="insert('7')">7</button>
              <button value="8" class="number" (click)="insert('8')">8</button>
              <button value="9" class="number" (click)="insert('9')">9</button>
              <button value="*" class="operation" (click)="insert('*')">x</button>
            </div>

            <div class="row">
              <button value="4" class="number" (click)="insert('4')">4</button>
              <button value="5" class="number" (click)="insert('5')">5</button>
              <button value="6" class="number" (click)="insert('6')">6</button>
              <button value="-" class="operation" (click)="insert('-')">-</button>
            </div>

            <div class="row">
              <button value="1" class="number" (click)="insert('1')">1</button>
              <button value="2" class="number" (click)="insert('2')">2</button>
              <button value="3" class="number" (click)="insert('3')">3</button>
              <button value="+" class="operation" (click)="insert('+')">+</button>
            </div>

            <div class="row">
                <button value="0" class="number" (click)="insert('0')">0</button>
                <button value="." class="number" (click)="insert('.')">,</button>
              <button class="operation" (click)="equal()">=</button>
            </div>

        </div>
    </div>
</body>
</html>
